# common
.DS_Store
.idea
.cache-loader
.eslintcache
.tmp
.ovine
backup

npm-debug.log
yarn-error.log
deploy.sh

lib
dist
node_modules

# workspace
/website/docs/build
/packages/init/tmp/*

/server/uniadmin/conf/app.conf
# /server/uniadmin/static/upload/images/
/server/uniadmin/nohup.out