// 主应用慎用 reset 样式

#main-container {
  height: 100%;
  & > div {
    height: 100%;
  }
}

.qiankun-center {
  background-color: #faf9f8;
  body {
    margin: 0;
    background-color: transparent;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdn.jsdelivr.net/npm/@ovine/init@0.1.2/env/.ovine/static/dll/0.1.2/dll_fontawesome-webfont.eot?v=4.7.0');
  src: url('https://cdn.jsdelivr.net/npm/@ovine/init@0.1.2/env/.ovine/static/dll/0.1.2/dll_fontawesome-webfont.eot?#iefix&v=4.7.0')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/npm/@ovine/init@0.1.2/env/.ovine/static/dll/0.1.2/dll_fontawesome-webfont.woff2?v=4.7.0')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@ovine/init@0.1.2/env/.ovine/static/dll/0.1.2/dll_fontawesome-webfont.woff?v=4.7.0')
      format('woff'),
    url('https://cdn.jsdelivr.net/npm/@ovine/init@0.1.2/env/.ovine/static/dll/0.1.2/dll_fontawesome-webfont.ttf?v=4.7.0')
      format('truetype'),
    url('https://cdn.jsdelivr.net/npm/@ovine/init@0.1.2/env/.ovine/static/dll/0.1.2/dll_fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
