// 主应用慎用 reset 样式

#main-container {
  height: 100%;
  & > div {
    height: 100%;
  }
}

.qiankun-center {
  background-color: #faf9f8;
  body {
    margin: 0;
    background-color: transparent;
  }
}
