<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>loading...</title>
  <link type="image/x-icon" rel="shortcut icon" />
</head>

<body>
  <%= htmlWebpackPlugin.options.loaderTemplate %>
    <div id="main-container"></div>
</body>

</html>